In [1]:
import random

def train_test_split(data, test_size=0.2):
    
    # Calculate the number of items to be used for testing.
    num_test = int(len(data) * test_size)

    # Shuffle the data.
    random.seed(42)
    random.shuffle(data)

    # Split the data into training and testing sets.
    train_data = data[:-num_test]
    test_data = data[-num_test:]

    return train_data, test_data

In [2]:
# Create some data.
data = [i for i in range(100)]

# Split the data into training and testing sets.
train_data, test_data = train_test_split(data, test_size=0.2)

# Print the lengths of the training and testing sets.
print(len(train_data)) # Output: 80
print(len(test_data)) # Output: 20

80
20

In [3]:
import random

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(data)

print(data)

[3, 2, 1, 5, 7, 8, 9, 10, 6, 4]

In [4]:
import random

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.seed(42)
random.shuffle(data)

print(data)

[8, 4, 3, 9, 6, 7, 10, 5, 1, 2]

In [5]:
import random

def train_test_split(X, y, test_size=0.2, random_state = 42):
    
    # Calculate the number of items to be used for testing.
    num_test = int(len(X) * test_size)

    # Shuffle the X.
    random.seed(random_state)
    random.shuffle(X)
    random.shuffle(y)

    # Split the X into training and testing sets.
    X_train = X[:-num_test]
    X_test = X[-num_test:]


    # Split the X into training and testing sets.
    y_train = y[:-num_test]
    y_test = y[-num_test:]

    return X_train, X_test, y_train, y_test

In [6]:
# Create some data.
data = [i for i in range(100)]

X = [[1],[2],[3],[4],[5]]
y = [1,2,3,4,5]


# Split the data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

# Print the lengths of the training and testing sets.
print(len(X_train)) # Output: 80
print(len(X_test)) # Output: 20
print(len(y_train)) # Output: 80
print(len(y_test)) # Output: 20

4
1
4
1

In [7]:
X_train

[[4], [2], [3], [5]]

In [8]:
X_test

[[1]]

In [9]:
y_train

[4, 3, 1, 5]

In [10]:
y_test

[2]

## Train_test_split_worst

In [16]:
import pandas as pd
import numpy as np

# Generate some random data
data = pd.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))

# Set the random seed for reproducibility
np.random.seed(42)

# Generate a random index for the data
indices = np.random.permutation(data.index)

# Split the data into training and testing sets
split = 0.7
train_data = data.loc[indices[:int(split*len(data))]]
test_data = data.loc[indices[int(split*len(data)):]]

In [17]:
train_data

           A         B         C         D
83 -0.875562 -0.234848 -0.987229 -0.491164
53  0.699092  0.599897 -0.481248 -2.093794
70 -1.440653  0.269318  1.813667  0.404583
45 -1.991538  0.426026 -0.541285  0.776823
44 -0.913413 -0.455033 -0.412762  0.595644
..       ...       ...       ...       ...
67 -0.325973  3.253985 -1.544999 -0.842735
46 -0.047644  0.518694 -0.391402  0.438023
68  0.392042 -0.124525 -0.200205  2.024721
61 -1.238231 -0.824651  1.951280 -0.040085
97  0.233466  0.802652  0.054071  0.240351

[70 rows x 4 columns]